/* css/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

a img {
    width: 50px;
    height: 50px;
}

a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;

}



.delete{
    background-color: red;
    border-radius: 5px;
}

.edit{
    background-color: #28a745;
    border-radius: 5px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e9ecef;
}

img {
    border-radius: 5px;
    max-width: 100px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="file"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #218838;
}

input[type="submit"]:active {
    background-color: #1e7e34;
}

form a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #6c757d;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

form a:hover {
    background-color: #5a6268;
}
.back-button{
    width: 24px;
    height: 24px;
    margin: 0 10px;
}
